* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  --bg-body: #c6cede;
  --text-light: #f6f6f4;
  --text-dark: #171717;
  --text-insignificant: #636363;
  --bg-interactive-elem: #ffffff40;
  --font-headings: 700 2.5rem "Karla";
  --font-regular: 500 2rem "Karla";
  --font-extra: 400 1.25rem "Karla";
  --font-insignificant: 400 1rem "Karla";
}

.widget {
  --bg-rain: #7eaddf;
  --bg-sun: #ffffe6;
  --bg-overcast: #e9e9e9;
}

main {
  background-color: var(--bg-body);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 4rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 5rem 8rem;
  gap: 3rem;
}

.search-area {
  display: flex;
  gap: 1.25rem;
  align-items: start;
}

.search-area input {
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 3.125rem;
  border: 3px solid var(--text-dark, #171717);
  background: var(--bg-interactive-elem, rgba(255, 255, 255, 0.2));
}

.search-area button {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  padding: 0;
}

.search-area button svg {
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.search-container .error {
  width: 100%;
  height: 100%;
  display: none;
  background-color: orange;
  font: var(--font-extra);
}

.top-section .switch {
  display: flex;
  height: 3rem;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  border-radius: 1rem;
  border: 3px solid var(--text-dark, #171717);
  background: var(--bg-interactive-elem, rgba(255, 255, 255, 0.2));
  position: relative;
  max-width: fit-content;
}

.top-section .switch label {
  color: var(--text-dark);
  font: var(--font-headings);
}

.top-section .switch input {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#toggle-head {
  transition: all 300ms cubic-bezier(0.68, -0.3, 0.27, 1.3);
}

#toggle-head.left {
  cx: 14;
}

#toggle-head.right {
  cx: 71.5;
}

.widget-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-areas:
    "place place place place   sun      sun "
    "place place place place   precip   wind  "
    "..... ..... ..... .....   uv       uv";
  padding: 0 5rem;
  gap: 1.25rem;
}

.widget {
  border: 1px solid black;
  display: grid;
  padding: 1.75rem;
  gap: 0.625rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 150ms ease-in-out;
  box-shadow: 2px 4px 4px 0 rgba(255, 255, 255, 0.25) inset, 1px 2px 4px 1px rgba(126, 173, 223, 0.40);
}

.widget.square {
  aspect-ratio: 1 / 1;
}

.widget.rect {
  aspect-ratio: 2 / 1;
}

.widget.rain {
  background: var(--bg-rain, #7eaddf);
}

.widget.sun {
  background: var(--bg-sun, #ffffe6);
}

.widget.overcast {
  background: var(--bg-overcast, #e9e9e9);
}

.widget.skeleton {
  background: #fff;
}

#place-widget {
  grid-area: place;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  & .summary {
    grid-column: 1 / span 2;
    border-radius: 1rem;
    border: 5px solid var(--text-light, #F6F6F4);
    padding: 1rem;
  }
  & .info-sub-info .time {
    display: flex; 
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }
}

#sun-widget {
  grid-area: sun;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  padding-block: .5rem;
  gap: 0;
  & .icon {
    grid-column: span 2;
    overflow: hidden;
    display: grid;
    align-items: start;
    justify-items: center;
    width: 100%;
    & svg {
      --rotate-angle: 0;
      width: calc(75% + 1vw);
      transform: rotate(var(--rotate-angle)deg);
      transition: transform .5s ease-in-out;
    }
  }
  & p {
    height: 10px;
    text-align: center;
  }
}

#temp-widget {
  grid-area: precip;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  & .current {
    grid-column: span 3;
  }
  & .small-temp-container {
    grid-column: span 2;
  }

  & .icon > svg {
    height: 100%;
    width: 100%;
  }
  & .icon > svg > path {
    transition: d .5s ease-in-out;
  }
}

#uv-widget {
  grid-area: uv;
}

#wind-widget {
  grid-area: wind;
  display: grid;
  grid-template-rows: 5fr 1fr;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  & .icon {
    justify-self: center;
    & svg {
     width: 100%;
     height: 100%;
     transition: all 0.4s ease-in-out; 
   }
  }
}

.widget .info-sub-info {
  justify-self: start;
}

.widget .icon {
  justify-self: end;
}

.widget:hover {
  box-shadow: 2px 4px 4px 0 rgba(255, 255, 255, 0.25) inset, 2px 4px 4px 1px rgba(126, 173, 223, 0.40);
  transform: scale(1.005);
}

@media screen and (max-width: 900px) {
  .widget-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas:
      "place place place place"
      "place place place place"
      "sun   sun   wind    precip"
      "uv  uv  ...   .....";
    width: 100%;
  }
  
  .top-section {
    flex-direction: column;
    align-items:baseline;
  }
}
